In [8]:

# Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
from pprint import pprint
api_format = "json"

In [9]:
# for loop for different API 
li=[]
name_q=['games','teams','tips']

for q in name_q:
    s="https://api.squiggle.com.au/?q="+q+";format=json"
    li.append(s)

In [16]:
li[0]

'https://api.squiggle.com.au/?q=games;format=json'

In [62]:
#p print to check the json data
#pprint(requests.get(li[0]).json())

In [35]:
#convering json data into dataframe 
df_games=pd.DataFrame.from_dict(pd.json_normalize(requests.get(li[0]).json()['games']),orient='columns')

In [55]:
df_games.head()

,localtime,date,venue,tz,roundname,winner,hteamid,abehinds,id,hteam,...,is_grand_final,complete,ascore,round,agoals,ateam,is_final,hbehinds,ateamid,year
0,2017-03-23 19:20:00,2017-03-23 19:20:00,M.C.G.,+11:00,Round 1,Richmond,3,12,1,Carlton,...,0,100,132,1,20,Richmond,0,5,14,2017
1,2017-03-24 19:50:00,2017-03-24 19:50:00,M.C.G.,+11:00,Round 1,Western Bulldogs,4,10,2,Collingwood,...,0,100,100,1,15,Western Bulldogs,0,14,18,2017
2,2017-03-25 16:35:00,2017-03-25 16:35:00,S.C.G.,+11:00,Round 1,Port Adelaide,16,8,3,Sydney,...,0,100,110,1,17,Port Adelaide,0,10,13,2017
3,2017-03-25 16:35:00,2017-03-25 16:35:00,Docklands,+11:00,Round 1,Melbourne,15,12,4,St Kilda,...,0,100,120,1,18,Melbourne,0,12,11,2017
4,2017-03-25 19:05:00,2017-03-25 20:05:00,Carrara,+11:00,Round 1,Brisbane Lions,8,8,5,Gold Coast,...,0,100,98,1,15,Brisbane Lions,0,12,2,2017

In [59]:
#clean data-Remove columns that we dont needed, rename columns names to make it  clear\n
df_clean=df_games.drop(columns=['localtime', 'date','tz','is_grand_final','complete','is_final','id',
                                'hteamid','ateamid','winnerteamid','updated','round'])
#rename column 
df_renamed=df_clean.rename(columns={'abehinds': 'away_behinds', 'hteam': 'home_team','hgoals': 'home_goals','hscore': 'home_score','hgoals': 'home_goals','ascore': 'away_score','agoals': 'away_goals','ateam': 'away_team','hbehinds': 'home_behinds'}) 
df_renamed.head()

,venue,roundname,winner,away_behinds,home_team,home_goals,home_score,away_score,away_goals,away_team,home_behinds,year
0,M.C.G.,Round 1,Richmond,12,Carlton,14,89,132,20,Richmond,5,2017
1,M.C.G.,Round 1,Western Bulldogs,10,Collingwood,12,86,100,15,Western Bulldogs,14,2017
2,S.C.G.,Round 1,Port Adelaide,8,Sydney,12,82,110,17,Port Adelaide,10,2017
3,Docklands,Round 1,Melbourne,12,St Kilda,13,90,120,18,Melbourne,12,2017
4,Carrara,Round 1,Brisbane Lions,8,Gold Coast,14,96,98,15,Brisbane Lions,12,2017

In [64]:
#getting a list of venue names 
df_renamed['venue'].unique()

array(['M.C.G.', 'S.C.G.', 'Docklands', 'Carrara', 'Adelaide Oval',
       'Subiaco', 'Sydney Showground', 'Gabba', 'Bellerive Oval',
       'UNSW Canberra Oval', 'University of Tasmania Stadium',
       'Adelaide Arena at Jiangwan Stadium', 'GMHBA Stadium',
       'Traeger Park', 'Marrara Oval', "Cazaly's Stadium", 'Mars Stadium',
       'Optus Stadium', 'Manuka Oval', 'Kardinia Park', 'York Park',
       'Stadium Australia', 'Football Park', 'Blacktown', 'Wellington',
       'Perth Stadium', 'Marvel Stadium', 'Eureka Stadium',
       'Jiangwan Stadium', 'Riverway Stadium'], dtype=object)

In [7]:
#read csv for venue location details
df_venue=pd.read_csv('venue.csv', encoding="ISO-8859-1") 
df_venue.head()

Empty DataFrame
Columns: [venue, lng, lat]
Index: []

In [60]:
#pprint(requests.get(url_teams).json())

In [12]:
df_players=pd.read_csv('stats.csv', encoding="ISO-8859-1") 
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89470 entries, 0 to 89469
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   89470 non-null  object
 1   team                     89470 non-null  object
 2   year                     89470 non-null  int64
 3   round                    89470 non-null  object
 4   playerId                 89470 non-null  int64
 5   displayName              89470 non-null  object
 6   gameNumber               89470 non-null  int64
 7   Disposals                89470 non-null  int64
 8   Kicks                    89470 non-null  int64
 9   Marks                    89470 non-null  int64
 10  Handballs                89470 non-null  int64
 11  Goals                    89470 non-null  int64
 12  Behinds                  89470 non-null  int64
 13  Hit Outs                 89470 non-null  int64
 14  Tackles                  89470 non-null  int64
 15  Rebounds                 89470 non-null  int64
 16  Inside 50s               89470 non-null  int64
 17  Clearances               89470 non-null  int64
 18  Clangers                 89470 non-null  int64
 19  Frees                    89470 non-null  int64
 20  Frees Against            89470 non-null  int64
 21  Brownlow Votes           89470 non-null  int64
 22  Contested Possessions    89470 non-null  int64
 23  Uncontested Possessions  89470 non-null  int64
 24  Contested Marks          89470 non-null  int64
 25  Marks Inside 50          89470 non-null  int64
 26  One Percenters           89470 non-null  int64
 27  Bounces                  89470 non-null  int64
 28  Goal Assists             89470 non-null  int64
 29  % Played                 89470 non-null  int64
 30  Subs                     45910 non-null  object
dtypes: int64(26), object(5)
memory usage: 21.2+ MB